@model IEnumerable<LMS_UI.Models.ViewModels.UserViewModel>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Manage Users";
    ViewBag.LayoutType = "Admin";

}

<div class=" overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-50">
        <thead class="text-xs text-white uppercase bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
            <tr>
                <th scope="col" class="px-6 py-3">
                    @Html.DisplayNameFor(model => model.First().userID)
                </th>
                <th scope="col" class="px-6 py-3">
                    @Html.DisplayNameFor(model => model.First().userName)
                </th>
                <th scope="col" class="px-6 py-3">
                    @Html.DisplayNameFor(model => model.First().userRole)
                </th>
                <th class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class=" text-black bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 border-b dark:border-black">
                    <td class="px-6 py-4">
                        @item.userID
                    </td>
                    <td class="px-6 py-4">
                        @item.userName
                    </td>
                    <td class="px-6 py-4">
                        @item.userRole
                    </td>
                    <td class="px-6 py-4">
                        @Html.ActionLink("Edit", "Edit", new { id = item.userID }) <br>
                        @Html.ActionLink("Delete", "Delete", new { id = item.userID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

