@model IEnumerable<LMS_UI.Models.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "User Management";
    var role = Context.Session.GetString("Role");
}

<h2>User Management</h2>

@if (role == "Admin")
{
    <p>
        <a asp-action="Create" class="btn btn-success">+ Add New User</a>
    </p>
}

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().userID)</th>
            <th>@Html.DisplayNameFor(model => model.First().userName)</th>
            <th>@Html.DisplayNameFor(model => model.First().userRole)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.userID</td>
                <td>@item.userName</td>
                <td>@item.userRole</td>
                <td>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.userID">View</a>

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.userID }) <br>
                    @Html.ActionLink("Delete", "Delete", new { id = item.userID })
                </td>
            </tr>
        }
    </tbody>
</table>
